@import url("../../../styles/base.css");
@import url("../../../styles/colors.css");
@import url("../../../styles/queries.css");

.flex {
  display: flex;
  margin: 0;

  width: 100%;
  -webkit-box-orient: horizontal;
  -o-box-orient: horizontal;

  flex-direction: column;

  /*@media (--screen-phone-lg) {
    flex-direction: row;
  }*/
}

.header {
  padding: 0 var(--padding);
  h2 {
    font-size: 1.5em;
  }
}

.details {
  composes: flex;
  flex-direction: column;

  padding: 0 var(--padding);

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .photoStrip {
    flex: 1;
    display: flex;
    overflow: auto;
    img {
      margin: 0 1px;
    }
  }
}
.bar {
  /*text-align: center;*/
  display: flex;
  /*margin-top: -2em;*/
  margin-left: -2%;
  h2, h4 {
    margin-left: .5em;

  }
}
.rate {
margin-left: -80%;
}

.ratingDet {
  unicode-bidi: bidi-override;
  color: #404040;
  /* font-size: 25px; */
  /* height: 25px; */
  /* width: 100px; */
  /* margin: 0 auto; */
  position: relative;
  /* padding: 0; */
  text-shadow: 0 1px 0 #a2a2a2;

}

.rateBar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  h3{
    color: black;
    font-size: 14px;
    /*font-family: sans-serif;*/
    margin-top: -.5px;
    margin-right: 5px;

  }

}
.priceDet {
  margin-left: 0em;
  margin-top: -.5em;

}
